@model ConcurrencyPatterns.Presentation.Web.Models.ProductViewModel

@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true)

	<div>
		@Html.LabelFor(model => model.Name)
		<div>
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
	</div>

	<div>
		@Html.LabelFor(model => model.Description)
		<div>
			@Html.EditorFor(model => model.Description)
			@Html.ValidationMessageFor(model => model.Description)
		</div>
	</div>

	<div>
		@Html.LabelFor(model => model.Stock)
		<div>
			@Html.EditorFor(model => model.Stock)
			@Html.ValidationMessageFor(model => model.Stock)
		</div>
	</div>

	<div>
		<br />
		<input type="submit" value="Create" />
	</div>
}
