@model ConcurrencyPatterns.Presentation.Web.Models.CustomerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Customer</h2>

@using (Html.BeginForm()) 
{
	@Html.AntiForgeryToken()

	<h4>Customer</h4>
	<hr />
	@Html.ValidationSummary(true)

	<div>
		@Html.LabelFor(model => model.Name)
		<div>
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
	</div>

	<div class="col-md-offset-2 col-md-10">
		<input type="submit" value="Create" class="btn btn-default" />
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
